#app {

  .sidebar-container {
    width: $sideBarWidth !important;
    height: 100%;
    background-color: #304156;

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // 嵌套路由样式
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }
  }

  .openSidebar {
    .sidebar-container {
      width: $sideBarWidth !important;
    }
  }

  // sidebar收起样式
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }
    .submenu-title-noDropdown {
      position: relative;
      // padding: 0 !important;
      
      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }

      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    // el-menu collapse
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }

    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    }
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      position: absolute;
      left: 0;
      transition: transform .28s;
      width: $sideBarWidth !important;
      z-index: 111;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
